**Import libraries**

In [1]:
import pandas as pd
import numpy as np

**Check the version of Pandas**

In [2]:
pd.__version__

'1.5.3'

**Read the dataset**

In [3]:
df = pd.read_csv('/content/raw.githubusercontent.com_alexeygrigorev_datasets_master_housing.csv')

In [4]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

**Getting the data frame columns and count them**

In [5]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'ocean_proximity'],
      dtype='object')

In [6]:
len(df.columns)

10

**Check for the missing values**

In [7]:
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

### **getting unique values of the ocean_proximity column**

In [8]:
df['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

**Getting the average value of the median_house_value for the houses located near the bay**

In [9]:
near_by_houses = df[df['ocean_proximity'] == 'NEAR BAY']

**Calculate the average of total_bedrooms column in the dataset**

In [10]:
near_by_houses['median_house_value'].mean()

259212.31179039303

In [11]:
total_bedrooms_avg = df['total_bedrooms'].mean()

In [12]:
total_bedrooms_avg

537.8705525375618

**Use the fillna method to fill the missing values in total_bedrooms with the mean value from the previous step**

In [13]:
df['total_bedrooms'].fillna(total_bedrooms_avg, inplace=True)

In [14]:
df.isna().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

**calculate the average of total_bedrooms after filling the missing values**

In [15]:
total_bedrooms_avg2 = df['total_bedrooms'].mean()

In [16]:
total_bedrooms_avg2

537.8705525375617

In [17]:
all_islands = df[df['ocean_proximity'] == 'ISLAND']

In [18]:
selected_columns = df[['housing_median_age', 'total_rooms', 'total_bedrooms']]

In [36]:
x = np.array(selected_columns.values)

In [37]:
x

array([[  41.,  880.,  129.],
       [  21., 7099., 1106.],
       [  52., 1467.,  190.],
       ...,
       [  17., 2254.,  485.],
       [  18., 1860.,  409.],
       [  16., 2785.,  616.]])

**Compute matrix-matrix multiplication between the transpose of X and X**

In [38]:
x_transpose = x.T

XTX = np.dot(x_transpose, x)

In [39]:
XTX

array([[2.01984850e+07, 1.35332892e+09, 2.83204712e+08],
       [1.35332892e+09, 2.41621366e+11, 4.67660348e+10],
       [2.83204712e+08, 4.67660348e+10, 9.59926544e+09]])

**Compute the inverse of XTX**

In [40]:
inverse_XTX = np.linalg.inv(XTX)

In [41]:
y = np.array([950, 1300, 800, 1000, 1300])

In [42]:
multip = np.dot(inverse_XTX, x_transpose)

In [45]:
w = np.dot(multip, y)

ValueError: ignored